.DS_Store
__tests__/
babel.config.js
metro.config.js
node_modules/
yarn.lock
ios/Pods/
ios/build/
ios/TraineeAp.xcworkspace/
android/app/build/
android/.idea/
android/gradle/
android/gradle.properties
android/app/BUCK
android/gradlew
android/gradlew.bat
android/local.properties
android/.gradle/
*.iml